html {
    height: 100vh;

}


body {
    background-color: antiquewhite;
}

.calculator {
    /* height: 700px; */
    width: 500px;
    background-color: black;
    margin: 100px auto;
    border: 10px solid rgb(42, 38, 38);
    border-radius: 10px;
}

#display {
    background-color: grey;
    margin: 4px;
    padding: 10px;
    font-size: 90px;
    text-align: right;
    font-family: monospace;
}

.buttons button {
    background-color: grey;
    padding: 35px 40px;
    font-size: 40px;
    font-family: monospace;
    margin: 4px;
    flex: 1;
    max-height: 100px;
    border-radius: 4px;
    border: none;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

button.zero {
    flex: 4.4;
}

button.ac {
    padding: 25px 35px;
}

button.sign {
    padding: 25px 22px;
}

button.green {
    background-color: #217C7E;
}

button.blue {
    background-color: dodgerblue;
}

button.orange {
    background-color: #FF8F1F;
}

.divide:focus,
.multiply:focus,
.plus:focus,
.minus:focus {
    background-color: #ffc183;
}

.equal:active {
    background-color: #ffc183;
}

.green:active {
    background-color: #33b9bb;
}

.blue:active {
    background-color: rgb(123, 189, 255);
}